@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared styles */
main{
    max-width: 1300px;
    margin: 0 auto;
}
main > section{
    margin-top: 120px;
}
.section-title{
    font-size: 2.9rem;
    font-weight: 600;
}   
.text-color{
    color: rgb(255, 144, 14);
}
.display-flex{
    display: flex;
}
.btn-primary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-gray{
    color: rgb(66, 66, 66);
}
.text-light-gray{
    color: rgb(114, 114, 114);
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: ;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.4rem;
}
.banner, .navbar{
    max-width: 1300px;
    margin: 0 auto;
}
.banner-img{
    width: 100%;
}
.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    color: ,
}
.teams{
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-architect img{
    width: 100%;
}
#features-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.feature-items{
    width: 786px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
.features{
    gap: 140px;
}
.our-features{
    margin-left: 80px;
    max-width: 530px;
}
.our-feature-description{
    margin-bottom: 32px;
}
#quick-style{
    font-weight: 400;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
footer{
    background-color: rgb(255, 244, 231);
    width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    height: 100px;
    border-radius: 8px;
    /* align-items: center;
    justify-items: center; */
}
.footer-text{
    text-align: center;
    padding-top: 40px;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-link,
    .teams,
    .features{
        flex-direction: column;
    }
    .team-img,
     .facts-container,
     .sponsor-companies
     {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .feature-items{
        width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    footer{
        width: 100%;
    }
}
